API_ID=123456
API_HASH=YOUR_API_HASH
BOT_TOKEN=YOUR_BOT_TOKEN
ADMIN_ID=6806701
SESSION_NAME=eldor

# Agar bo'sh qoldirsangiz barcha guruhlarni kuzatadi
ALLOWED_CHATS=

# Kalit so'zlar | bilan ajratiladi
DEFAULT_KEYWORDS=pochta bor|почта бор|poshta bor|пошта бор|odam bor|одам бор|poʻchta bor|po'chta bor|ketishimiz kerak|borishimiz kerak|кетишимиз керак|боришимиз керак
